.vf-stavenote.note-green path {
    fill:   $green;
    stroke: $green;
}
.vf-stavenote.note-red path {
    fill:   $red;
    stroke: $red;
}

#sheet {
    svg {
        width: 604px;
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }
}