.sets-nav {
    position: fixed;
    top: 4px;
    left: 4px;
    z-index: 2;
}

.height-100{
  height: 100%;
}

.flex-grow-1 {
  flex-grow: 1;
}

.overflow-y-scroll {
  overflow-y: scroll;
}
.overflow-y-auto {
  overflow-y: auto;
}

.keyboard-container {
  height: 100%;

  div {

    position: relative;

    button {
      font-family: monospace;
    }

    button.white-key {
      height: 100%;
      width: 100%;
      border-width: 1px;
      border-style: solid;
      border-color: $light-gray;
      background: $white;
      outline: none;
      font-size: 2em;
      padding-top: 2em;

      &:active {
        background: $lightest-gray;
      }
    }
    $black-key-width-per: 50%;
    button.black-key {
      background: $black;
      color: $gray;
      position: absolute;
      top: 0;
      height: 50%;
      max-height: 200px;
      border-width: 1px;
      border-style: solid;
      border-color: $light-gray;
      width: $black-key-width-per;
      z-index: 1;

      &.black-key-right {
        right: -($black-key-width-per/2);
        border-right: 0;
        margin-right: -1px;
      }
      &.black-key-left {
        left: 0;
        border-left: 0;
        margin-left: -1px;
      }

    }
  }
}

.position-relative {
  position: relative;
}
.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}